<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: rgb(50, 245, 70);
            background-color: black;
            text-align: center;
        }
    </style>
</head>
<body style="background-color: aqua; color:red;">
    {{>header}}
    {{!-- //this is header --}}
    <h1>this is HBS file</h1>
    
</body>
</html>