<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <style>
        /* Basic styling for the navigation bar */
      
        
        nav li {
            margin: 0 15px;
            text-transform: uppercase;
        }
        
        nav li:hover {
            background-color: chartreuse;
            border: 2px solid white;
        }

        
    </style>
</head>
<body>
    <header style=" background-color: #c1b0b0;
            color: #fff;
            padding: 10px 0;">
        <nav>
            <ul style=" list-style: none;
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;">
                <li><a href="#">Home</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Download</a></li>
                <li><a href="#">Image</a></li>
                <li><a href="#">User Detail</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
